.pagespeed_container {font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 1em; color: #222222;}
.pagespeed_score{background-image:url("images/scoreIcon.png")}
.pagespeed_score-red{background-position:0 0}
.pagespeed_score-yellow{background-position:-14px 0}
.pagespeed_score-green{background-position:-28px 0}
.pagespeed_score-info{background-position:-42px 0}
.pagespeed_score-icon{display:inline; vertical-align:middle;height:14px;width:14px; }

/*tree view for pagespeed*/
.pagespeed_treeview, .pagespeed_treeview ul { padding: 0; margin: 0; list-style: none;}
.pagespeed_treeview a {color: #000000;}
.pagespeed_treeview ul { background-color: white; margin-top: 4px; }
.pagespeed_treeview .hitarea { background: url(images/treeview-default.gif) -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -20px; float: left; cursor: pointer; }
/* fix for IE6 */
* html .hitarea { display: inline; float:none; }
.pagespeed_treeview li {  margin: 0; padding: 3px 0pt 3px 20px; }
.pagespeed_treeview a.selected { background-color: #eee; }
#pagespeed_treecontrol { margin: 1em 0; display: none; }
.pagespeed_treeview .hover { color: red; cursor: pointer; }
.pagespeed_treeview li { background: url(images/treeview-default-line.gif) 0 0 no-repeat; }
.pagespeed_treeview li.collapsable, .pagespeed_treeview li.expandable { background-position: 0 -176px; }
.pagespeed_treeview .expandable-hitarea { background-position: -80px -3px; }
.pagespeed_treeview li.last { background-position: 0 -1766px }
.pagespeed_treeview li.lastCollapsable, .pagespeed_treeview li.lastExpandable { background-image: url(images/treeview-default.gif); }  
.pagespeed_treeview li.lastCollapsable { background-position: 0 -111px }
.pagespeed_treeview li.lastExpandable { background-position: -32px -67px }
.pagespeed_treeview div.lastCollapsable-hitarea, .pagespeed_treeview div.lastExpandable-hitarea { background-position: 0; }
.pagespeed_treeview-red li { background-image: url(images/treeview-red-line.gif); }
.pagespeed_treeview-red .hitarea, .pagespeed_treeview-red li.lastCollapsable, .pagespeed_treeview-red li.lastExpandable { background-image: url(images/treeview-red.gif); } 
.pagespeed_treeview-black li { background-image: url(images/treeview-black-line.gif); }
.pagespeed_treeview-black .hitarea, .pagespeed_treeview-black li.lastCollapsable, .pagespeed_treeview-black li.lastExpandable { background-image: url(images/treeview-black.gif); }  
.pagespeed_treeview-gray li { background-image: url(images/treeview-gray-line.gif); }
.pagespeed_treeview-gray .hitarea, .pagespeed_treeview-gray li.lastCollapsable, .pagespeed_treeview-gray li.lastExpandable { background-image: url(images/treeview-gray.gif); } 
.pagespeed_treeview-famfamfam li { background-image: url(images/treeview-famfamfam-line.gif); }
.pagespeed_treeview-famfamfam .hitarea, .pagespeed_treeview-famfamfam li.lastCollapsable, .pagespeed_treeview-famfamfam li.lastExpandable { background-image: url(images/treeview-famfamfam.gif); } 

.pagespeed_filetree li { padding: 3px 0 2px 16px; }
.pagespeed_filetree span.folder, .pagespeed_filetree span.file { padding: 1px 0 1px 16px; display: block; }
.pagespeed_filetree span.folder { background: url(images/folder.gif) 0 0 no-repeat; }
.pagespeed_filetree li.expandable span.folder { background: url(images/folder-closed.gif) 0 0 no-repeat; }
.pagespeed_filetree span.file { background: url(images/file.gif) 0 0 no-repeat; }
