Debug/
PageSpeed/lib/Debug/
Release/
lib-release/
lib-debug/
wptdriver tests/
/ipch/
.idea/
.project
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
*.testsettings
*.aps
webpagetest.opensdf
webpagetest.sdf
*.suo
webpagetest.vsmdi
.svn
*.last
.DS_store
*.ppw
*.ppd
*.ppj
*.ppx
*.dsk
*.idx
*.ncb
*.$wrk
*.swp
agent/js/*.log
agent/js/node_modules/.bin/jshint
agent/js/node_modules/jshint/
agent/js/results/
agent/js/src-cov/
agent/js/runtmp_*
agent/js/lib/ios/DeviceSupport
.vagrant
/www/installers/browsers/nightly.dat
/www/cli/archive-ia.php
/www/cli/ec2-keys.inc.php

agent/js/5c.sh

*.mp4

agent/js/5c2.sh
/*.sublime-project
/*.sublime-workspace
/*.code-workspace
/www/dat
/www/settings/uniqueId.dat
/www/ec2/log

# specific wptdriver settings
agent/wptdriver/*.ini
/agent/webdriver/data
/agent/webdriver/test.json
/www/installers/browsers/chrome-update-origin.dat
/www/installers/browsers/chrome-update2.dat
/www/installers/browsers/chrome2.dat
/www/installers/browsers/firefox-origin.dat
/www/installers/browsers/firefox2.dat
/www/installers/python/ujson/ujson.pyd
/www/installers/python/ujson/ujson.zip
/www/installers/software2.dat
/www/amp.html
/www/apc/apc.php
/www/settings/custom_metrics/Images.js
/www/settings/custom_metrics/Resolution.js
/www/settings/custom_metrics/Colordepth.js
/www/settings/custom_metrics/Dpi.js
/www/work/chrome
agent/js/device_status_android.json
webpagetest.VC.db
agent/js/agent.bat
agent/js/src/.vscode/launch.json
agent/webdriver/.vscode/launch.json
agent/webdriver/out/1_metrics.json.gz
agent/webdriver/out/1_page_data.json.gz
agent/webdriver/out/1_progress.csv.gz
agent/webdriver/out/1_requests.json.gz
agent/webdriver/out/1_screen.jpg
agent/webdriver/out/1_timed_events.json.gz
agent/webdriver/out/1.0.histograms.json.gz
agent/wptdriver/Registry.pol
www/gce.php

# docker
docker/local/results/*
!docker/local/results/.gitkeep

# intellij
*.iml

www/custom
www/results
www/tmp
www/images/sponsors
www/work/jobs
www/dat/.htaccess
www/tmp/.htaccess
www/work/jobs/.htaccess
www/.vscode/launch.json
.vscode/launch.json
www/settings/getkey.html
www/forums
www/settings/custom_metrics/iframeCount.js
.gitignore
www/settings/custom_metrics/scriptTagCount.js
www/settings/common
www/settings/server
www/robots.txt

tests/*.cache
www/beanstalk.php
.vscode/*
*/.vscode/*
vendor/bin/.phpunit.result.cache

# developer settings
www/dev.php