Debug/
PageSpeed/lib/Debug/
Release/
lib-release/
lib-debug/
wptdriver tests/
/ipch/
.idea/
.project
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
*.testsettings
*.aps
webpagetest.opensdf
webpagetest.sdf
*.suo
webpagetest.vsmdi
.svn
*.last
.DS_store
*.ppw
*.ppd
*.ppj
*.ppx
*.dsk
*.idx
*.ncb
*.$wrk
*.swp
agent/js/*.log
agent/js/node_modules/.bin/jshint
agent/js/node_modules/jshint/
agent/js/results/
agent/js/src-cov/
agent/js/runtmp_*
agent/js/lib/ios/DeviceSupport
.vagrant
/www/installers/browsers/nightly.dat
/www/cli/archive-ia.php
/www/cli/ec2-keys.inc.php

agent/js/5c.sh

*.mp4

agent/js/5c2.sh
/*.sublime-project
/*.sublime-workspace
/www/dat
/www/settings/uniqueId.dat
/www/ec2/log

# specific wptdriver settings
agent/wptdriver/*.ini
/agent/webdriver/data
/agent/webdriver/test.json
