Debug
Release
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
Local.testsettings
TraceAndTestImpact.testsettings
wptdriver.ini
wpthook.aps
webpagetest.opensdf
webpagetest.sdf
webpagetest.suo
webpagetest.vsmdi
wptdriver tests/
.svn
*.last
agent/browser/ie/wptbho/wptbho_i.c
agent/browser/ie/wptbho/wptbho_i.h
agent/browser/ie/wptbho/wptbho_p.c
www/webpagetest/results
www/webpagetest/log.txt
www/webpagetest/tmp
www/webpagetest/work/jobs/uniqueId.dat
www/webpagetest/logs/*.log
www/webpagetest/work/jobs
www/webpagetest/work/video
www/webpagetest/nbproject
.DS_store

