
/* lighthouse variations for experiments layout */

 /* Context-specific colors */
:root {
   /* Palette using Material Design Colors
   * https://www.materialui.co/colors */
   --color-amber-50: #FFF8E1;
   --color-blue-200: #90CAF9;
   --color-blue-900: #0D47A1;
   --color-blue-A700: #2962FF;
   --color-blue-primary: #06f;
   --color-cyan-500: #00BCD4;
   --color-gray-100: #F5F5F5;
   --color-gray-300: #CFCFCF;
   --color-gray-200: #E0E0E0;
   --color-gray-400: #BDBDBD;
   --color-gray-50: #FAFAFA;
   --color-gray-500: #9E9E9E;
   --color-gray-600: #757575;
   --color-gray-700: #616161;
   --color-gray-800: #424242;
   --color-gray-900: #212121;
   --color-gray: #000000;
   --color-green-700: #080;
   --color-green: #0c6;
   --color-lime-400: #D3E156;
   --color-orange-50: #FFF3E0;
   --color-orange-700: #C33300;
   --color-orange: #fa3;
   --color-red-700: #c00;
   --color-red: #f33;
   --color-teal-600: #00897B;
   --color-white: #FFFFFF;
  --color-average-secondary: var(--color-orange-700);
  --color-average: var(--color-orange);
  --color-fail-secondary: var(--color-red-700);
  --color-fail: var(--color-red);
  --color-hover: var(--color-gray-50);
  --color-informative: var(--color-blue-900);
  --color-pass-secondary: var(--color-green-700);
  --color-pass: var(--color-green);
  --color-not-applicable: var(--color-gray-600);
}
.lh-logo {
  display: flex;
  align-items: center
}
.lh-logo svg {
  flex: 0 0 1.2em;
}
.lh_score .lh_score_number {
  font-weight: normal;
  font-family: 'Roboto Mono', 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
  display: inline-flex;
  text-align: center;
  font-size: 1em;
  border-radius: 100%;
  padding: .6em;
  align-content: center;
  justify-content: center;
  position: relative;
}
.lh_score_number svg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform;
  transform: rotate(0deg);
}
.lh-gauge {
  stroke-linecap: round;
}
.lh-gauge-arc {
  fill: none;
  transform-origin: 50% 50%;
  animation: load-gauge 1s ease forwards;
  animation-delay: 250ms;
}
.lh-gauge-base {
  opacity: 0.1;
}
.lh_score.lh_score_grade-a {
  color: var(--color-pass-secondary);
  fill: var(--color-pass);
  stroke: var(--color-pass);
}

.lh_score.lh_score_grade-c {
  color: var(--color-average-secondary);
  fill: var(--color-average);
  stroke: var(--color-average);
}

.lh_score.lh_score_grade-f {
  color: var(--color-fail-secondary);
  fill: var(--color-fail);
  stroke: var(--color-fail);
}
.lh-gauge__wrapper--not-applicable {
  color: var(--color-not-applicable);
  fill: var(--color-not-applicable);
  stroke: var(--color-not-applicable);
}
.results_main-lh .opportunities_summary {
  min-width: 100%;
  margin-bottom: 1em;
  display: block;
}
.results_main-lh .results_and_command {
  gap: 1em;
  width: 70%;
}
.results_main-lh ul.results_lh_nav {
  display: flex;
  flex: 1 0 100%;
  gap: 1em;
  flex-flow: row wrap;
}
.results_lh_nav a {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 0.5em;
  font-size: 1.1em;
  flex-flow: row;
  padding-right: 2em;
}
.results_lh_nav a:hover .lh_score_cat,
.results_lh_nav a:focus .lh_score_cat {
  text-decoration: underline
}
.results_lh_nav a:hover .lh_score_number,
.results_lh_nav a:focus .lh_score_number {
  text-decoration: none;
  box-shadow: 0 0 3px #aaa;
}
.results_lh_nav span.lh_score_cat {
  color: #2a3b64;
}
.results_main-lh .experiments_bottlenecks {
  position: relative;
}
.results_main-lh details.metrics_shown {
  top: 1em;
  right: 0;
}
.grade_heading.lh_score {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1 1 auto;
}
.grade_heading.lh_score .lh_score_number {
  font-size: .7em;
}
.grade_heading.lh_score .lh_score_cat {
  flex: 1 1 calc(100% - 5rem);
  font-weight: 900
}
.results_main-lh span.units {
  text-transform: uppercase;
}
.results_main-lh .scrollableTable {
  border: 1px solid #eee;
    border-radius: 0.5em;
    padding: 0 2em 1em;
    box-sizing: border-box;
    background: #fefefe;
}
.results_main-lh h4 {
  margin: 1em 0 0;
}
.results_main-lh summary p {
  display: inline;
}
.results_main-lh p:empty {
  display: none;
}
details.metrics_shown p a {
  color: #fff;
}
