<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VelodromeAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WPTUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4085AEE8138EEA1D00F8E6A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4089D318135E35BD00C668DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572BC95214C9FFA900407E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57AE709914C9FB920083744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57AE70AD14C9FC080083744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57AE70DA14C9FD280083744B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
