<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Agent Type</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Velodrome</string>
				<string>WebPageTest</string>
			</array>
			<key>Values</key>
			<array>
				<string>Velodrome</string>
				<string>WebPageTest</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Agent Type</string>
			<key>Key</key>
			<string>agenttype</string>
			<key>DefaultValue</key>
			<string>WebPageTest</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Agent Specific Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>WebpageTest Settings</string>
			<key>File</key>
			<string>WebpageTestSettings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Velodrome Settings</string>
			<key>File</key>
			<string>VelodromeSettings</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Carrier</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>AT&amp;T</string>
			<key>Key</key>
			<string>carrier</string>
			<key>Title</key>
			<string>Carrier</string>
			<key>Titles</key>
			<array>
				<string>AT&amp;T</string>
				<string>Verizon</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>AT&amp;T</string>
				<string>Verizon</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cell Network Type</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>3G</string>
			<key>Key</key>
			<string>cellType</string>
			<key>Title</key>
			<string>Network Type</string>
			<key>Titles</key>
			<array>
				<string>Edge</string>
				<string>3G</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>Edge</string>
				<string>3G</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Timeouts</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>20</string>
			<key>Key</key>
			<string>checkinInterval</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Check-in Interval</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>300</string>
			<key>Key</key>
			<string>pageTimeout</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Page Timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5</string>
			<key>Key</key>
			<string>resourceTimeout</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Resource Timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Velodrome Agent</string>
</dict>
</plist>
