[Storage]
; Storage provider. Currently support google bigstore (use "gs")
; and amazon s3 (use "s3"). Set it to "local" if you only want to
; save results on local disk.
provider=gs
access_key_id = YOUR_ACCESSS_KEY
secret_access_key = YOUR_PRIVATE_ACCESS_KEY

; The bucket name needs to be globally unique across all of
; s3 or gs. Please manually create the bucket first by yourself
; and then set the bucket name here
bucket_name = webpagetest-storage

; The host name of the storage.
; i) for bigstore, set it to commondatastorage.googleapis.com;
; ii) for s3, set it to s3.amazonaws.com.
; You can also set it to a different server than the default.
host = commondatastorage.googleapis.com

