/ads/
/custom/
/dat/*.dat
/dat/*.lock
/images/sponsors/
/log/
/log.txt
/logs/*.log
/newrelic-dash/
/results/
/work/jobs/
/work/video/
/plugins/*.inc
/settings/*.inc
/settings/*.ini
/settings/*.php
/settings/block*.txt
/settings/whitelist.txt
/settings/customrules.txt