/plugins/
/ads/
/browsers/
/custom/
/dat/*.dat
/dat/*.json
/dat/*.lock
/dat/*.db
/images/sponsors/
/log/
/log.txt
/logs/*.log
/newrelic-dash/
/results/
/tmp/
/work/jobs/
/work/video/
/work/update/
/plugins/*.inc
/settings/*.inc
/settings/*.ini
/settings/*.php
!/settings/ec2_locations.ini
/settings/block*.txt
/settings/whitelist.txt
/settings/customrules.txt
/settings/benchmarks/*
!/settings/benchmarks/sample
*.log
