/*
WebPageTest Global Header.
*/

:root {
    /* NOTE! Keep this in sync with the breakpoints below, it is for the JS */
    --wpt-header-layoutchange: 86em;
}

wpt-header {
    width: 100%;
    grid-column: 1 / 13;
    position: relative;
    z-index: 9999999;
}
/* for compat with systems that set box-sizing globally */
wpt-header * {
    box-sizing: content-box;
}

wpt-header header {
    position: relative;
    color: #fff;
    font-family: Open Sans, sans-serif;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: top;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    border-bottom: 4px solid #5DBBE8;
}

wpt-header a {
    color: #fff;
    text-decoration: none;
}

wpt-header .wptheader_logo {
    flex: 1 1 75%;
    display: block;
    height: 5rem;
    max-height: 5rem;
    display: flex;
    box-sizing: border-box;
    align-content: center;
    padding: 1em 0 1em 1.5rem;
    background: #141E33;
}

@media (min-width:50em) {
    wpt-header .wptheader_logo {
        padding-left: 3rem;
    }
}

wpt-header .wptheader_logo img {
    width: 200px;
    max-width: 70%;
}

wpt-header .wptheader_menu {
    display: contents;
}

wpt-header .wptheader_menubtn {
    flex: 0 0 25%;
    max-width: 5rem;
    padding: 1em 0;
    height: 5rem;
    max-height: 5rem;
    box-sizing: border-box;
    color: #fff;
    border: 0;
    background: #141E33 url(/images/wpt-header-menubtn.svg) 50% 50% no-repeat;
    text-indent: -9999px;
    background-size: 16px auto;
    cursor: pointer;
    outline: none;
}

wpt-header .wptheader_menu[open] .wptheader_menubtn {
    background-image: url(/images/wpt-header-menubtn-close.svg);
    background-color: #fff;
}

wpt-header .wptheader_menubtn:hover,
wpt-header .wptheader_menubtn:focus {
    background-color: #fff;
}

wpt-header .wptheader_menubtn-expanded {
    background: url(/images/wpt-header-menubtn-close.svg) 50% 50% no-repeat;
}

wpt-header nav {
    display: block;
    background: #141E33;
    top: calc(5rem + 4px);
    position: absolute;
    width: 90%;
    right: 0;
    z-index: 1000;
    box-shadow: -5px 2px 5px rgba(0, 0, 0, .2);
    min-height: calc(100vh - 5rem + 4px);
}

wpt-header ul,
wpt-header .wptheader_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

wpt-header .wptheader_nav ul.wptheader_nav_menu_linkgrid {
    display: flex;
    flex-flow: row wrap;
}

wpt-header .wptheader_nav ul.wptheader_nav_menu_linkgrid li {
    flex: 1 1 50%;
    display: flex;
}

wpt-header .wptheader_nav ul.wptheader_nav_menu_linkgrid li:before {
    display: none;
}

wpt-header summary::-webkit-details-marker {
    display: none;
}

wpt-header li>a,
wpt-header li summary {
    padding: 1.5rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

wpt-header .wptheader_nav details[open] .wptheader_nav_menu_content {
    background: #fff;
}

wpt-header .wptheader_nav li.wptheader-current>a,
wpt-header .wptheader_nav li.wptheader-current>summary {
    background: #101623
}

wpt-header .wptheader_nav li>a:focus,
wpt-header .wptheader_nav li>a:header,
wpt-header .wptheader_nav li summary:focus,
wpt-header .wptheader_nav li summary:header {
    background: #fff;
}

wpt-header .wptheader_nav_menu_content {
    padding: 0 1.5rem 1rem;
    background: #fff;
    color: #222;
}

wpt-header .wptheader_acct {
    display: flex;
    padding-left: 2rem;
    margin: 1rem;
    padding: 2rem 1rem 2rem 2rem;
    background: url(/images/icon-user.svg) left 50% no-repeat;
}

wpt-header .wptheader_acct a,
wpt-header .wptheader_acct button {
    padding: 0;
    background: none;
    color: #fff;
    font-size: 1em;
    border: 0;
    cursor: pointer;
    padding: 0 1rem;
    margin: 0;
}

wpt-header .wptheader_acct a:hover,
wpt-header .wptheader_acct button:hover {
    text-decoration: underline
}

wpt-header .wptheader_acct li:first-child {
    border-right: 1px solid rgba(255, 255, 255, .2);
}

wpt-header .wptheader_nav_menu a span,
wpt-header .wptheader_nav_menu summary span {
    display: flex;
    align-items: center;
    line-height: 1.3;
    justify-content: space-between;
    width: 100%;
}

wpt-header .wptheader_nav_menu summary span:after {
    content: "";
    border-top: 5px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
    margin-left: .5rem;
}

wpt-header .wptheader_nav_menu details[open] summary span:after {
    border-top-color: #1e4078;
}

wpt-header .wptheader_nav_menu_link a {
    padding: .5em 0;
    color: #1E4078;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

wpt-header .wptheader_nav_menu_link a:hover,
wpt-header .wptheader_nav_menu_link a:focus {
    text-decoration: underline;
}

wpt-header a.wptheader-current {
    cursor: default;
    pointer-events: none;
}

wpt-header .wptheader_nav_menu_link:before {
    content: "";
    border-left: 5px solid green;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
}

wpt-header .wptheader_nav_menu_section img {
    max-width: 60%;
}

wpt-header .wptheader_nav_menu_section a {
    color: #1E4078;
}

wpt-header .wptheader_nav_menu_content ul {
    margin-bottom: 1rem;
}

wpt-header .wptheader_nav_menu_content li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

wpt-header .wptheader_nav_cta {
    border-top: 1px solid #ddd;
    padding-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    font-weight: 300;
    align-items: center;
}

wpt-header .wptheader_nav_cta a {
    background: #1E4078;
    border-radius: 2em;
    padding: .6em 1em;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

wpt-header .wptheader_nav li details[open] {
    background: #fff;
    color: #1e4078;
}

wpt-header .wptheader_nav li>a:hover,
wpt-header .wptheader_nav li>a:focus,
wpt-header .wptheader_nav details:hover summary,
wpt-header .wptheader_nav details:focus summary {
    background: #fff;
    color: #1E4078;
}

wpt-header .wptheader_nav_menu details:hover summary span:after,
wpt-header .wptheader_nav_menu details:focus summary span:after {
    border-top-color: #1e4078;
}

@media (min-width: 86em) {
    wpt-header .wptheader_nav li>a:hover,
    wpt-header .wptheader_nav li>a:focus,
    wpt-header .wptheader_nav details:hover summary,
    wpt-header .wptheader_nav details:focus summary {
        background: transparent;
    }
    wpt-header .wptheader_nav li>a:hover span,
    wpt-header .wptheader_nav li>a:focus span,
    wpt-header .wptheader_nav li details[open] summary span,
    wpt-header .wptheader_nav li details:focus summary span .wptheader_nav li details summary:hover span {
        background: #fff;
        color: #1E4078;
    }
    wpt-header header {
        flex-flow: row nowrap;
        height: auto;
        overflow: visible;
        align-content: center;
        justify-content: space-between;
    }
    wpt-header .wptheader_menu[open] .wptheader_menubtn {
        display: none !important;
    }
    wpt-header .wptheader_logo {
        flex: 1 1 20%;
        height: auto;
        max-height: none;
        padding: 0;
    }
    wpt-header .wptheader_logo img {
        max-width: none;
    }
    wpt-header nav {
        position: relative;
        top: auto;
        display: flex !important;
        flex: 1 1 80%;
        width: auto;
        box-shadow: none;
        min-height: auto;
        right: auto;
        align-items: center;
        justify-content: space-between;
    }
    wpt-header nav>ul {
        display: flex;
        gap: 1.5rem;
    }
    wpt-header .wptheader_acct {
        margin-right: 0;
        padding-right: 0;
        gap: 0;
    }
    wpt-header nav ul li {
        display: flex;
        align-items: center;
        gap: .5em;
    }
    wpt-header nav ul li .wptheader_nav_menu_content {
        position: absolute;
        top: calc(100%);
        box-shadow: 0 5px 5px rgb(0 0 0 / 21%);
        min-width: 15rem;
        padding-top: 2rem;
        line-height: 1.3rem;
    }
    wpt-header nav ul li .wptheader_nav_menu_content:before {
        content: "";
        position: absolute;
        border-bottom: 5px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -5px;
        margin-left: 1.5rem;
    }
    wpt-header li>a,
    wpt-header li summary {
        padding: 0;
    }
    wpt-header {
        background: #141E33;
        display: block;
        border-bottom: 4px solid #5DBBE8;
    }
    wpt-header header {
        padding: 0 2vw;
        border: 0;
        max-width: 1400px;
        margin: 0 auto;
        height: 6rem;
    }
    wpt-header .wptheader_logo {
        background: none;
        padding-left: 3vw;
    }
    wpt-header .wptheader_nav {
        justify-content: space-between;
        gap: .2rem;
    }
    wpt-header .wptheader_nav li>a,
    wpt-header .wptheader_nav li summary {
        font-size: 1rem;
        border: none;
        font-size: 1rem;
        border: none;
        display: flex;
        align-content: center;
        align-self: center;
        height: 6rem;
    }
    wpt-header .wptheader_nav li>a span,
    wpt-header .wptheader_nav li summary span {
        line-height: 1.3;
        display: flex;
        padding: .5em 1em;
        border-radius: 2em;
        height: 1.3em;
        align-self: center;
        border: 1px solid transparent;
    }
    wpt-header li>a.wptheader-current span,
    wpt-header li>details summary.wptheader-current span {
        border-color: rgba(255, 255, 255, .2);
    }
    wpt-header .wptheader_nav_menu_content li>a,
    wpt-header .wptheader_nav_menu_content summary {
        line-height: 1.3;
        height: auto;
    }
    wpt-header .wptheader_nav li details[open] {
        background: transparent;
    }
}

@media (min-width:90em) {
    wpt-header header {
        padding: 0;
    }
    wpt-header .wptheader_logo {
        padding-left: 0;
    }
}


/* animation */

@media (prefers-reduced-motion: no-preference) {
    @media (max-width: 86em) {
        wpt-header .wptheader_menu nav {
            transform: translateX(100%);
            transition: transform .2s ease-out;
            transition-delay: .1s;
        }
        wpt-header .wptheader_menu[open] nav {
            transform: translateX(0%);
        }
    }
    @media (min-width: 86em) {
        wpt-header .wptheader_nav_menu .wptheader_nav_menu_content {
            transform: translateY(1em);
            transition: transform .2s ease-out;
            transition-delay: .1s;
        }
        wpt-header .wptheader_nav_menu details[open] .wptheader_nav_menu_content {
            transform: translateY(0);
        }
    }
}
