<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.wireless.speed.velodrome"
    android:versionCode="12"
    android:versionName="1.4.4">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-sdk android:targetSdkVersion="11" android:minSdkVersion="8"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
  <application android:icon="@drawable/icon" android:label="@string/appName">
    <activity android:name=".Velodrome"
              android:label="@string/appName"
              android:launchMode="singleTask">
      <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
          <action android:name="com.google.wireless.speed.velodrome.Velodrome" />
          <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".Preferences"
              android:label="@string/settings"
              android:launchMode="singleTask">
    </activity>
    <service android:name=".KeepAliveService"
             android:process=":remote">
      <intent-filter>
          <action android:name="com.google.wireless.speed.velodrome.KeepAliveService" />
      </intent-filter>
    </service>
    <receiver android:name=".WatchdogBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.HOME" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
