# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7)  OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  command to be executed
  */5  *  *  *  *  env -i /scripts/wpt_cron_call.sh 5min.php
  */15  *  *  *  *  env -i /scripts/wpt_cron_call.sh 15min.php
  0  *  *  *  *  env -i /scripts/wpt_cron_call.sh hourly.php
