[WebPagetest]
url=http://127.0.0.1/
location=Test
browser=chrome
Time Limit=120
;key=TestKey123
;debug=1

[chrome]
exe="C:\Program Files\Google\Chrome\Application\chrome.exe"
options='--load-extension="%WPTDIR%\extension" --user-data-dir="%PROFILE%" --new-window --no-proxy-server --no-first-run --no-default-browser-check --enable-experimental-extension-apis'
installer=http://www.webpagetest.org/installers/browsers/chrome.dat
;For SSL support in chrome, enable the downloading of debug symbols
;use symbols=1

[Firefox]
exe="C:\Program Files\Mozilla Firefox\firefox.exe"
options='-profile "%PROFILE%" -no-remote'
template=firefox
