[DSL]
label="DSL (1.5 Mbps/384 Kbps 50ms RTT)"
bwIn=1500000
bwOut=384000
latency=50
plr=0
aftCutoff=45

[FIOS]
label="FIOS (20 Mbps/5 Mbps 4ms RTT)"
bwIn=20000000
bwOut=5000000
latency=4
plr=0
aftCutoff=25

[Dial]
label="56K Dial-Up (49 Kbps/30 Kbps 120ms RTT)"
bwIn=49000
bwOut=30000
latency=120
plr=0
aftCutoff=120
