<h2>About WebPagetest.org</h2>

<p>WebPagetest is a tool that was orginally developed by <a href="http://dev.aol.com/">AOL</a> for use internally and was open-sourced in 2008 under a BSD license.
The platform is under active development by several companies and community contributors on <a href="http://code.google.com/p/webpagetest/">Google code</a>.
The software is also packaged up periodically and available for <a href="http://www.webpagetest.org/forums/forumdisplay.php?fid=12">download</a> if you would like to run your own 
instance.</p>

<p>The online version at <a href="http://www.webpagetest.org/">www.webpagetest.org</a> is run by WebPagetest LLC for the benefit of the performance community 
with several companies and individuals providing the testing infrastructure around the globe.  WebPagetest LLC is a company run by Patrick Meenan as an entity
to keep WebPagetest independent from any of the partners or other companies involved in the development of the platform.</p>

<p>In exchange for running a testing location, partners get their logo associated with the location and a banner on the site. 
<a href="https://sites.google.com/a/webpagetest.org/docs/other-resources/hosting-a-test-location">Hosting a test location</a> is open to anyone who is interested and 
does not constitute an endoresement of the services offered by the partner (however, I think you will find that the partners providing test locations 
tend to be very involved in the web performance community).</p>

<p>If you are having any problems of just have questions about the site, please feel free to <a href="mailto:pmeenan@webpagetest.org">contact me</a>.</p>