[extensions]
; sorted alphabetically by name
eiimnmioipafcokbfikbljfdeojpcgbh = "BlockSite: Block Websites & Stay Focused"
hgenngnjgfkdggambccohomebieocekm = "Bulk URL Opener Extension"
bhlhnicpbhignbdhedgjhgdocnmhomnp = "ColorZilla"
bmjmipppabdlpjccanalncobmbacckjn = "Cursor style - custom cursor for your browser"
ogdlpmhglpejoiomcodnpjnfgcpmgale = "Custom Cursor for Chrome"
aapbdbdomjkkjkaonfhkkikfgjllcleb = "Google Translate"
gcbommkclmclpchllfjekcdonpmejbdp = "HTTPS Everywhere"
bmnlcjabgnpnenekpadlanbbkooimhnj = "PayPal Honey: Automatic Coupons & Cash Back"
jfbnmfgkohlfclfnplnlenbalpppohkm = "Roblox+"
jghecgabfgfdldnmbfkhmffcabddioke = "Volume Master"
cjpalhdlnbpafiamejdnhcphjbkeiagm = "uBlock Origin"
kgjfgplpablkjnlkjmjdecgdpfankdle = "Zoom Scheduler"
