[extensions]
; data from https://github.com/DebugBear/chrome-extension-list
; .ini-formatted and sorted by https://gist.github.com/stoyan/721377e51c077b6d502746e0460631e2
gighmmpiobklfepjocnamgkkbiglidom = "AdBlock — best ad blocker"
bgnkhhnnamicmpeenaelnjfhikgbkllg = "AdGuard AdBlocker"
cfhdojbkjhnklbpkdaibdccddilifddb = "Adblock Plus - free ad blocker"
efaidnbmnnnibpcajpcglclefindmkaj = "Adobe Acrobat"
gomekmidlodglbbmalcneegieacbdmki = "Avast Online Security"
eofcbnmajmjmplflapaojjnihcjkigck = "Avast SafePrice | Comparison, deals, coupons"
inomeogfingihgjfjlpeplalcfajhgai = "Chrome Remote Desktop"
jlhmfgmfgeifomenelglieieghnjghma = "Cisco Webex Extension"
aapbdbdomjkkjkaonfhkkikfgjllcleb = "Google Translate"
kbfnbcaeplbcioakkpcpgfkobkghlhen = "Grammarly for Chrome"
bmnlcjabgnpnenekpadlanbbkooimhnj = "Honey"
hdokiejnpimakedhajhdlcegeplioahd = "LastPass: Free Password Manager"
oocalimimngaihdkbihfgmpkcpnmlaoa = "Netflix Party is now Teleparty"
mmeijimgabbpbgpdklnllpncmdofkcpn = "Screencastify - Screen Video Recorder"
lifbcibllhkdhoafpjfnlhfpfgnpldfl = "Skype"
dhdgffkkebhmkfjojejmpbldmpobfkfo = "Tampermonkey"
ppnbnpeolgkicgegkbkbjmhlideopiji = "Windows 10 Accounts"
cjpalhdlnbpafiamejdnhcphjbkeiagm = "uBlock Origin"
