<?php

$feeds = array();

$feeds['Recent Industry Blog Posts'] = array();
$feeds['Recent Industry Blog Posts']['Steve Souders'] = 'http://www.stevesouders.com/blog/feed/';
$feeds['Recent Industry Blog Posts']['Patrick Meenan'] = 'http://blog.patrickmeenan.com/feeds/posts/default';
$feeds['Recent Industry Blog Posts']['Stoyan Stefanov'] = 'http://www.phpied.com/feed/';
$feeds['Recent Industry Blog Posts']['Eric Goldsmith'] = 'http://ericgoldsmith.com/feed/';
$feeds['Recent Industry Blog Posts']['David Artz'] = 'http://www.artzstudio.com/feed/';
$feeds['Recent Industry Blog Posts']['Sajal Kayan'] = 'http://www.sajalkayan.com/tag/site-performance/feed/';

//$feeds['Recent Industry Blog Posts']['Yahoo Exceptional Performance'] = 'http://pipes.yahoo.com/pipes/pipe.run?_id=PKsaYeBk3RG_sHO91JzWFw&_render=rss';
$feeds['Recent Industry Blog Posts']['Gomez'] = 'http://blog.gomez.com/feed/rss/';
$feeds['Recent Industry Blog Posts']['Webmetrics Performance Blog'] = 'http://www.neustar.biz/rss/feed/webmetrics_performance_blog';
$feeds['Recent Industry Blog Posts']['Aptimize'] = 'http://www.aptimize.com/blog';
$feeds['Recent Industry Blog Posts']['Strangeloop Networks'] = 'http://www.webperformancetoday.com/feed/';
$feeds['Recent Industry Blog Posts']['Zoompf'] = 'http://zoompf.com/blog/feed';
$feeds['Recent Industry Blog Posts']['Zeroload'] = 'http://zeroload.net/blog/feed.xml';
$feeds['Recent Industry Blog Posts']['Performance Calendar'] = 'http://calendar.perfplanet.com/feed/';

$feeds['Recent Discussions'] = array();
$feeds['Recent Discussions']['WebPagetest Forums'] = 'http://www.webpagetest.org/forums/syndication.php?limit=30';
$feeds['Recent Discussions']['Yahoo Exceptional Performance'] = 'http://rss.groups.yahoo.com/group/exceptional-performance/rss';
$feeds['Recent Discussions']['Make The Web Faster Google Group'] = 'http://groups.google.com/group/make-the-web-faster/feed/atom_v1_0_msgs.xml';

?>