[locations]
1=Test_loc
2=Public_Dulles
default=Test_loc

;
; These are the top-level locations that are listed in the location dropdown
; Each one points to one or more browser configurations
;

[Test_loc]
1=Test
label=Test Location
group=Desktop

;
; These are the browser-specific configurations which match those
; defined in the top-level locations.  Each one of these MUST match the location
; name configured on the test agent (urlblast.ini or wptdriver.ini)
;

[Test]
browser=Chrome,Firefox
label="Test Location"
