a.popupButton {
  background-color: blue;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: separate;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  color: white;
  cursor: auto;
  display: block;
  font-size: 20px;
  height: 25px;
  margin-bottom: 0px;
  margin-left: 1px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #98BF21;
  outline-style: solid;
  outline-width: 1px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
