#quicklinks_table {
    margin: 0 auto;
    line-height: 1.5em;
    border-collapse: collapse;
}
#quicklinks_table tr.even {
    background: whitesmoke;
}
#quicklinks_table td, #quicklinks_table th {
    border: 1px silver solid;
    padding: 0.5em;
}
#quicklinks_table th {
    font-weight: bold;
    background: gainsboro;
}

#back_to_top {
    background:white;
    position: fixed;
    bottom:1em;
    left:50%;
    margin-left: 510px; /* 980px/2+20 */
    padding:1em;
    display: none;
}

.snippet_container {
    display: none;
    margin: 1em 0;
}
.snippet_container_requestHeaders {
    text-align: left;
    overflow: auto;
    padding: 0 1em;
}
.accordion_block {
    border: 1px solid #aaa;
    border-radius: 5px;
    width:930px;
}
.accordion_opener {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 0.2em;
    background: no-repeat 10px 50% transparent;
    font-size: 1.5em;
    line-height: 1em;
}
.accordion_opener.jkActive {
    background-color: whitesmoke;
}
.accordion_closed {
    background-image: url(/images/accordion_closed.png);
}
.accordion_opened {
    background-image: url(/images/accordion_opened.png);
}
.accordion_loading {
    background-image: url(/images/activity_indicator.gif);
}