.pill-button {
  appearance: none;
  width: auto;
  background-color: #f4f4f4;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 2.2em;
  text-decoration: none;
  color: #111;
  font-size: 1rem;
}

.box-button {
  border-radius: 4px;
  height: 100%;
  font-size: 1.25em;
  padding: 0.9em 1.5em;
  align-self: flex-start;
  margin-left: 0;
  cursor: pointer;
  -webkit-appearance: none;
  justify-self: flex-end;
  text-decoration: none;
  border: 0;
}

/** TODO
update all the yellow buttons on the site
**/
.yellow {
  background-color: #f9d856;
}

.blue {
  background-color: #3881e5;
  color: #fff;
}

/**
TODO update the NEW buttons on signup to this green
**/
.green {
  background-color: #80bc06;
}

.red {
  background-color: #d02424;
  color: #fff;
}

.purple {
  background-color: #6b25cf;
}

.grey-outline {
  border: 1px solid rgb(204, 204, 204);
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #141e33;
  color: #141e33;
  box-shadow: 9999px 0 0 -5px #141e33;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #141e33;
  color: #141e33;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #141e33;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #141e33;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #141e33;
  }

  30% {
    box-shadow: 9984px 0 0 2px #141e33;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #141e33;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #141e33;
  }

  30% {
    box-shadow: 9999px 0 0 2px #141e33;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #141e33;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #141e33;
  }

  30% {
    box-shadow: 10014px 0 0 2px #141e33;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #141e33;
  }
}
